@use "~bootstrap/scss/bootstrap" as *;

a{
    text-decoration: none;
    color: black;
}


body {
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
}

h1{
    color: rgb(243, 233, 233);
    text-shadow: 2px 2px 5px rgba(246, 246, 246, 0.5);
}

h2{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

label{
    font-weight: 700;
}


#home{
    height: 88vh;
    width: 100vw;

    background-image: url('../images/cinehero.jpeg');
    background-size: cover;
    background-position: center;
}

